/* Fonts */

@font-face {
  font-family: "Sofia";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/sofia-v14-latin-regular.woff2") format("woff2");
}

/* shantell-sans-regular - latin */
@font-face {
  font-family: "Shantell Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/shantell-sans-v7-latin-regular.woff2") format("woff2");
}

/* shantell-sans-500 - latin */
@font-face {
  font-family: "Shantell Sans Light Bold";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/shantell-sans-v7-latin-500.woff2") format("woff2");
}

/* shantell-sans-600 - latin */
@font-face {
  font-family: "Shantell Sans Bold";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/shantell-sans-v7-latin-600.woff2") format("woff2");
}

/* shantell-sans-700 - latin */
@font-face {
  font-family: "Shantell Sans Bolder";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/shantell-sans-v7-latin-700.woff2") format("woff2");
}

/* ysabeau-infant-300 - latin */
@font-face {
  font-family: "Ysabeau Infant Light";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/ysabeau-infant-v1-latin-300.woff2") format("woff2");
}
/* ysabeau-infant-regular - latin */
@font-face {
  font-family: "Ysabeau Infant";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/ysabeau-infant-v1-latin-regular.woff2") format("woff2");
}
/* ysabeau-infant-500 - latin */
@font-face {
  font-family: "Ysabeau Infant Light Bold";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/ysabeau-infant-v1-latin-500.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 1fr 7fr 0.8fr;
  align-items: center;
}

/* Navigation Bar */

.nav {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(162, 184, 129);

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  font-family: "Sofia", cursive;
  font-size: 5ch;

  display: grid;
  justify-content: center;
  align-content: center;
}

.tabs-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tab-btn {
  width: 16ch;
  border: none;
  background-color: rgb(162, 184, 129);
  font-family: "Shantell Sans Bolder", cursive;
  font-size: 2.1ch;
}

.tab-btn:hover {
  background-color: rgb(173, 184, 155);
}

.tab-btn:focus {
  box-sizing: border-box;
  outline: 1px solid rgb(46, 75, 1);
  outline-offset: none;
  border: 1px solid rgb(46, 75, 1);
}

/* Main Body with Tabs Styling */

.main {
  grid-area: 2 / 1 / 3 / 2;
  background-color: aquamarine;
  background-image: url(assets/imgs/Guneratne_2022.07.06_5007105.jpg);
  background-attachment: fixed;
  overflow: auto;

  display: grid;
}

.tabs {
  background-color: rgb(162, 184, 129);
  width: 70%;
  height: min-content;
  margin: 6ch auto 6ch auto;
  text-align: center;

  /* Invert corners of tab background. Generated from https://css-generators.com/custom-corners/*/
  --mask: radial-gradient(40px at 40px 40px, #0000 98%, #000) -40px -40px;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  outline-offset: -4.5ch;
  outline: 1px solid rgb(46, 75, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-content {
  width: 80%;
  margin-top: 5ch;
  margin-bottom: 5ch;
}

.tab-content:first-child {
  margin-top: 9ch;
}

.tab-content > h3 {
  font-family: "Shantell Sans Bolder", cursive;
}

.tab-content > p {
  margin-top: 2ch;
  margin-bottom: 3ch;
  font-family: "Ysabeau Infant", Arial, Helvetica, sans-serif;
  font-size: 2.3ch;
}

.tab-content > p:last-child {
  margin-top: 2ch;
  margin-bottom: 5ch;
  font-family: "Ysabeau Infant", Arial, Helvetica, sans-serif;
  font-size: 2.3ch;
}

/* Menu Tab */

.menu-card {
  width: 100%;
  min-height: min-content;
  background-color: bisque;
  margin-bottom: 5ch;

  /* Invert corners of tab background. Generated from https://css-generators.com/custom-corners/*/
  --mask: radial-gradient(20px at 20px 20px, #0000 98%, #000) -20px -20px;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  outline-offset: -2.5ch;
  outline: 1px solid rgb(46, 75, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-card > h3 {
  margin-top: 3ch;
  font-family: "Shantell Sans Bold";
  font-size: 2.7ch;
}

.menu-card > p {
  margin-top: 2ch;
  margin-bottom: 3ch;
  width: 90%;
  font-family: "Ysabeau Infant";
  font-size: 2.3ch;
}

.menu-card > img {
  max-width: 400px;
  text-align: center;
  margin-bottom: 5ch;
}

/* Reservations and Contact Forms */

h1 {
  font-family: "Shantell Sans Bolder", cursive;
  margin-bottom: 0;
}

.req {
  margin-top: 1ch;
  margin-bottom: 3ch;
  font-family: "Ysabeau Infant", Arial, Helvetica, sans-serif;
}

label {
  display: block;
  text-align: left;
  font-family: "Shantell Sans Light Bold", cursive;
}

label:after {
  content: ": ";
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font-family: "Ysabeau Infant Light", Arial, Helvetica, sans-serif;
  font-size: 2ch;
  width: 100%;
  padding: 1ch;
  border: 1px solid #ccc;
  border-radius: 0.5ch;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 0.8ch;
  margin-bottom: 3ch;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.date-div,
.time-div,
.guest-div {
  text-align: left;
}

input[type="date"],
input[type="time"],
input[type="number"] {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.5ch;
  text-align: left;
  padding: 1ch;
  margin-top: 0.8ch;
  margin-bottom: 3ch;
  width: 20ch;
  font-family: "Ysabeau Infant Light", Arial, Helvetica, sans-serif;
}

input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="submit"]:focus {
  outline: 0.3ch solid rgb(46, 75, 1);
}

input[type="submit"] {
  font-family: "Ysabeau Infant", Arial, Helvetica, sans-serif;
  font-size: 2ch;
  background-color: rgb(105, 129, 69);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 6ch;
}

input[type="submit"]:hover {
  background-color: #2a632d;
}

/* Footer */

.footer {
  background-color: rgb(162, 184, 129);
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;

  font-family: "Ysabeau Infant", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.footer p {
  height: min-content;
  justify-self: end;
  margin-right: 1ch;
  color: black;
}

.footer img {
  height: 3.5ch;
  margin-left: 1ch;
}

.footer a:focus {
  box-sizing: border-box;
  outline: 1px solid rgb(46, 75, 1);
  outline-offset: none;
  border: 1px solid rgb(46, 75, 1);
}
