/* Fonts */

@font-face {
  font-family: "Sofia";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/sofia-v14-latin-regular.woff2") format("woff2");
}

/* shantell-sans-regular - latin */
@font-face {
  font-family: "Shantell Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/shantell-sans-v7-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* shantell-sans-500 - latin */
@font-face {
  font-family: "Shantell Sans Light Bold";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/shantell-sans-v7-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* shantell-sans-600 - latin */
@font-face {
  font-family: "Shantell Sans Bold";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/shantell-sans-v7-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* shantell-sans-700 - latin */
@font-face {
  font-family: "Shantell Sans Bolder";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/shantell-sans-v7-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 1fr 7fr 0.8fr;
  align-items: center;
}

/* Navigation Bar */

.nav {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(162, 184, 129);

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  font-family: "Sofia", cursive;
  font-size: 5ch;

  display: grid;
  justify-content: center;
  align-content: center;
}

.tabs-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tab-btn {
  width: 16ch;
  border: none;
  background-color: rgb(162, 184, 129);
  font-family: "Shantell Sans Bolder", cursive;
  font-size: 2.1ch;
}

.tab-btn:hover {
  background-color: rgb(173, 184, 155);
}

/* Main Body with Tabs */

.main {
  grid-area: 2 / 1 / 3 / 2;
  background-color: aquamarine;
  background-image: url(assets/imgs/Guneratne_2022.07.06_5007105.jpg);
  background-attachment: fixed;
  overflow: auto;

  display: grid;
}

.tabs {
  background-color: rgb(162, 184, 129);
  width: 70%;
  height: min-content;
  margin-top: 6ch;
  margin-bottom: 6ch;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  /* Invert corners of tab background. Generated from https://css-generators.com/custom-corners/*/
  --mask: radial-gradient(40px at 40px 40px, #0000 98%, #000) -40px -40px;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  outline-offset: -4.5ch;
  outline: 1px solid rgb(46, 75, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-content {
  width: 80%;
  margin-top: 5ch;
  margin-bottom: 5ch;
}

.tab-content > p {
  margin-top: 2ch;
  margin-bottom: 5ch;
}

/* Footer */

.footer {
  background-color: rgb(162, 184, 129);
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;

  font-family: "Shantell Sans Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.footer p {
  height: min-content;
  justify-self: end;
  margin-right: 1ch;
  color: black;
}

.footer img {
  height: 3.5ch;
  margin-left: 1ch;
}
